.footer {
    text-align: right;
    position: fixed; /* Changed from absolute to fixed */
    bottom: 10px;
    right: 100px;
    margin-bottom: 20px;
    font-family: 'Your-Handwritten-Font', cursive;
    z-index: 10; /* To ensure it stays above other content */
}

.footer-text {
    font-size: 1em;
    color: #999;
}

.signature {
    font-family: 'Your-Handwritten-Font', cursive;
    font-size: 1.2em;
    color: #f7eb00;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Make the width 100% to fill the entire viewport */
    height: 100%;
    margin: 0;
    background: #121212; /* Dark background */
    color: #e0e0e0; /* Lighter text for contrast */
}


.calculator-container {
    border: 1px solid #333;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #1e1e1e; /* Darker shade for container */
    width: 80%;
    max-width: 600px;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff; /* White for headings */
}

p, th, td {
    font-size: 1.1em;
}

.increase { color: #4caf50; } /* Green for increase */
.decrease { color: #f44336; } /* Red for decrease */

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th, td {
    border-bottom: 1px solid #333;
    padding: 8px;
    text-align: left;
    background-color: #1e1e1e; /* Darker shade for table rows */
    color: #e0e0e0; /* Lighter text for table rows */
}

tbody tr:nth-child(odd) {
    background-color: #242424; /* Slightly different shade for alternate rows */
}

th {
    background-color: #333;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    background: #333;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover { opacity: 1; }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .calculator-container {
        width: 105%;
        margin: 10px;
    }
}
/* Increase the size of the slidebar */
#leverageSlider {
    width: 65%; /* Adjust the width to your preference */
    height: 20px; /* Adjust the height to your preference */
    border: 1px solid #fff; /* Add a white border */
    border-radius: 10px; /* Apply rounded edges */
    position: relative;
}

#leverageValue {
    vertical-align: right; /* Align with the slider */
    font-weight: bold; /* Make the font bold */
    font-size: 1.8em; /* Increase the font size */
    margin-left: 10px; /* Optional: Add some space between the slider and the value */
    padding-right: 20px; /* Add padding to the right of the value */
}

/* Additional styling for AMM indicator */
.amm-indicator {
    width: 60px;
    background-color: #5521f3; /* Blue color for AMM indicator */
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
}
.price-up {
    color: #4caf50; /* Green color for increase */
}

.price-down {
    color: #f44336; /* Red color for decrease */
}

.btc-price-value {
    font-size:1.5em/* Grey orange color */
}
/* Add this CSS code to the existing <style> tag */
.bybit-button {
    position: absolute;
    bottom: 420px; /* Adjust the vertical position as needed */
    right: 7%; /* Adjust the horizontal position as needed */
    width: 110px; /* Adjust the button's width */
    height: 110px; /* Adjust the button's height */
    background-color: #000000; /* Green color for the button */
    border-radius: 50%; /* Make it round */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f7eb00; /* Orange border */
    transition: border-color 0.3s ease-in-out; /* Smooth border color transition */
}

.bybit-button a {
    text-decoration: none;
    color: #fff; /* White text color */
    font-weight: bold;
}

.bybit-button:hover {
    border-color: #ff9800; /* Change border color to orange on hover */
}
.tradingview-button {
    position: absolute;
    bottom: 289px; /* Adjust the vertical position as needed */
    right: 7%; /* Adjust the horizontal position as needed */
    width: 110px; /* Adjust the button's width */
    height: 110px; /* Adjust the button's height */
    background-color: #2196F3; /* Blue color for the button */
    border-radius: 50%; /* Make it round */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #39bb17; /* Orange border */
    transition: border-color 0.3s ease-in-out; /* Smooth border color transition */
}

.tradingview-button a {
    text-decoration: none;
    color: #fff; /* White text color */
    font-weight: bold;
}
/* Existing styles */

/* ... (keep your existing styles as they are) ... */

/* Styles for the 24h high and low price boxes */
#btc24hPrices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    margin-bottom: 470px;

}

#btcHigh24hBox, #btcLow24hBox {
    padding: 0px;
    border: 1px solid #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    text-align: center;
    min-width: 120px; /* Set a minimum width for each box */
}

#btcHigh24hBox h3 {
    margin: ;
    color: green; /* Set the color to green for btcHigh24hBox */
}

#btcLow24hBox h3 {
    margin: ;
    color: red; /* Set the color to red for btcLow24hBox */
}

@media (max-width: 767px) {
    #btc24hPrices {
        display: flex;
        flex-direction: column; /* Stack boxes vertically */
        justify-content: center;
        align-items: center; /* Center align items */
        margin-right: 0; /* Adjust margins as needed */
        margin-bottom: 20px; /* Adjust bottom margin as needed */
    }

    #btcHigh24hBox, #btcLow24hBox {
        width: auto; /* Adjust width to fit content */
        margin-bottom: 10px; /* Space between boxes */
    }
}

.tradingview-button:hover {
    border-color: #7a00ec; /* Change border color to orange on hover */
}
@media (max-width: 767px) {
    .calculator-container {
        width: 100%;
        max-width: none; /* Override any max-width set */
        margin: 0; /* Remove any horizontal margin */
        padding: 10px; /* Adjust padding as needed */
    }
}


/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .calculator-container {
        width: 90%;
        margin: 10px;
    }

    h1, h2 {
        font-size: 2em;
    }
}



    h1, h2 {
        font-size: 2.5em;
    }
}
.calculator-container {
    max-width: 600px;
    width: 100%; /* Use percentage-based widths */
}
img {
    max-width: 100%;
    height: auto;
}

/* For embedded videos or other media */
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body {
    font-size: 16px; /* Default font size for desktop */
}

@media (max-width: 767px) {
    body {
        font-size: 14px; /* Smaller font size for mobile */
    }
}
/* For mobile devices */
@media (max-width: 767px) {
    .bybit-button, .tradingview-button {
        position: static; /* Change position to static or relative */
        margin: 10px auto; /* Center the buttons with margin */
        width: 80px; /* Adjust the size */
        height: 80px;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .bybit-button, .tradingview-button {
        /* Slightly larger than mobile, but smaller than desktop */
        width: 90px;
        height: 90px;
    }
}
/* For mobile devices */
@media (max-width: 767px) {
    .bybit-button, .tradingview-button {
        position: static; /* Change position to static or relative */
        margin: 10px auto; /* Center the buttons with margin */
        width: 80px; /* Adjust the size */
        height: 80px;
        visibility:hidden;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .bybit-button, .tradingview-button {
        /* Slightly larger than mobile, but smaller than desktop */
        width: 90px;
        height: 90px;
        visibility:hidden;
    }
}
.chart-container {
    position: absolute;
    bottom: 80px;
    left: 10px;
    height: 35vh;
    width: 35%;
    background-color: rgba(14, 10, 9, 0.42);
}
/* Hide the chart on mobile devices */
@media (max-width: 767px) {
    .chart-container {
        display: none;
    }
}

/* Hide the chart on tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .chart-container {
        display: none;
    }
}
/* Desktop and larger devices */
@media (min-width: 1024px) {
    .chart-container {
        /* Your desktop-specific styles (if any) */
        display: block; /* Ensure it's visible */
    }
}
.title-and-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Other styling as needed */
}

#btc24hPrices {
    /* Your existing styles for this element */
}
@media (max-width: 767px) {
    .header-container {
        width: 100%;
        padding: 10px;
    }

    .title-and-stats {
        flex-direction: column;
        align-items: flex-start;
    }

    #btc24hPrices {
        order: 2; /* Move the 24h prices below the title */
        display: flex;
        flex-direction: row; /* Align 24h High and Low boxes horizontally */
    }

    #btcHigh24hBox, #btcLow24hBox {
        flex: 1; /* Each box takes equal width */
    }

    .calculator-container, .other-main-content {
        width: 100%; /* Make main content fill the screen */
        /* Adjust padding, margins as needed */
    }
}
@media (max-width: 767px) {
    .footer {
        right: 10px; /* Adjust this value as needed */
    }
}
@media (max-width: 767px) {
    #btcHigh24hBox, #btcLow24hBox {
        flex: 1; /* Each box takes equal width */
        max-width: 50%; /* Ensure they do not exceed half the container's width */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}
